{% extends '!footer.html' %} {% block extrafooter %} {{super}}
<br>
<br>
<b>Druckversion dieses Handbuches finden Sie <a
        href="../help/radwegweiser_doku_qgis.pdf" target="_blank">hier</a>.</b>

{% endblock %}