/** css/custom.css **/

/* This line is theme specific - it includes the base theme CSS */
@import 'theme.css';

.right {
    float: right;
    width: 150px;
    margin-top: -50px;
}

p + ul {
   margin-top: -20px;
}

p + ol {
   margin-top: -20px;
}

.red {
	font-weight: bold;
	color: red;
}

.green {
	font-weight: bold;
	color: green;
}

a {
   font-weight: bold;
}

.rst-content blockquote {
   margin-left: 0px;
}

.blockquote {
   margin-inline-start: 0px;

}

.hbr {
    font-family: "HBR NRW Eng";
    font-size: 20px;
}